*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: beige;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('../images/header.avif');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
   
 
}
.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-height: 1180px;
    margin: 0 auto;
    border: 2px ;
    
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    margin-top: 30px;
    margin-right: 40px;
   
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px;
    color:rgb(245, 225, 220);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    border-bottom: 2px solid rgb(118, 105, 83);
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
     
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: beige;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}
.btn-full{
    background-color:rgb(202, 202, 200);
    color:rgb(23, 21, 21);
    margin-right: 15px;
}
.btn-full:hover{
    background-color: transparent;
    border: 2px solid beige;
    color: beige;
}
.btn-nav{
    background-color:rgb(202, 202, 200);
    color:rgb(23, 21, 21);
}
.btn-nav:hover{
    background-color: transparent;
    border: 2px solid beige;
    color: beige;
}
.colorchange{
    animation: colorchangegull 1s infinite;
}
@keyframes colorchangegull{
    0%{color: rgb(211, 227, 108);}
    25%{color: rgb(147, 72, 72);}
    50%{color: blueviolet;}
    100%{color: rgb(189, 81, 135);}
}
.mobile-icons{
    display: none;
}

/* //RESPONSIVE VIEW///// */
@media only screen and (max-width:1180px) {
    .main-content-header{
        width: 100%;
        padding: 0 2%;

    }
    
}
@media only screen and (max-width:998px) {
   h1{
    font-size: 200%;
   }
    
}
@media only screen and (max-width:768px) {
    h1{
     font-size:170%;
    }
    .main-nav{
        display: none;
    }
     
     
    .mobile-icons{
        display: inline-block;
         color:beige;
     float: right;
         margin-top: 30px;
         margin-right: 20px;
    

    }
    .main-nav{
        float: left;
    }
    .main-nav li{
        
        display: block;
        margin-top: 10px;
    }
 }